

<div class="footer">
  <div class="row">
    <div class="col-lg-6" id="footer">
      <h2>Social Links</h2>
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Whatsapp</li>
      </ul>
    </div>
    <div class="col-lg-6" id="footer">
        <h2>column 2</h2>
    </div>
    <div class="col-lg-6" id="footer">
        <h2>column 3</h2>
    </div>
    <div class="col-lg-6" id="footer">
        <h2>column 4</h2>
    </div>

  </div>
</div>

</body>

</html>