  <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register culprit</title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
    <link href="/signin_signup.css" rel="stylesheet">  
    <!-- <link rel="stylesheet" href="/index.css"> -->
  </head>


  <body>
     <nav  class="navbar navbar-expand-lg navbar-light bg-light reg_navbar">
          <div class="container-fluid">
            <div class="navbar-header"> 
              <a href="/" class="navbar-brand">NDLEA</a>
            </div>
            <form action="/culprits/search" method="GET" style="width: 100%; margin-left: 15%;">
              <input type="text" name="search" id="search" placeholder="Search Database" style="width: 70%; opacity: 0.75; border: none; height: 30px; font-weight: bold; ">
              <button style=" opacity: 0.75; border: none; height: 30px; border-radius: 10%;">Search</button>
            </form>
            <div class="d-flex justify-content-end collapse navbar-collapse ">
              <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              </ul>
            </div>
          </div>
        </nav> 

        <div class="reg_form-culprits">
  <div class="container">

    <div style="background-color: rgb(236, 236, 247) !important" class="jumbotron">
      <div class="container">
        <h1>Welcome to culprits page</h1>
        <p>Possession of hard drugs is a punishable offence under the jurisdiction of the Nigerian government.</p>
        <p>
          <a class="btn btn-primary btn-lg btn_custom" href="/register">Add new culprit</a>
        </p>
      </div>
    </div>

    <div class="row text-center" style="display: flex; flex-wrap: wrap">
      <% allCulprits.forEach((culprit)=>{ %>
        <div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: .1rem; margin-top: .9rem">
        <div class="img-thumbnail">
          <img style="width: 100%; height:100%" src="/assets/<%= culprit.passport %>" />
          <div class="caption">
            <p>Full Name: <strong><%= culprit.fullName %></strong></p>
            <p>Age: <strong><%= culprit.age %></strong></p>
            <p>Gender: <strong><%= culprit.sex %></strong></p>
            <p>Substance: <strong><%= culprit.nameOfDrug %></strong></p>
            <p>Date: <strong><%= culprit.date.toDateString() %></strong></p>
            <!-- <h4><%= culprit.lga %></h4>
            <h4><%= culprit.phoneNumber %></h4>
            <h4><%= culprit.occupation %></h4> -->
            
            <!-- <h4><%= culprit.drugPrice %></h4>
            <h4><%= culprit.frequency %></h4>
            <h4><%= culprit.sellerName %></h4>
            <h4><%= culprit.sellerLocation %></h4>
            <h4><%= culprit.description %></h4> -->
          </div>
          <p><a class="btn btn-primary btn_custom" href="/culprits/<%=culprit._id%>">More info</a></p>
        </div>
      </div>
        <% }) %>
    </div>


 

  </div>
</div>
  <!-- <% include partials/footer%> -->